html
    head
        title City Rental Data
    body
        h1 #{City}, #{State}
        p Rental Data for #{City}
        ul
            if Mean_1_Bdrm_Price
                li Mean one-bedroom price: #{Mean_1_Bdrm_Price}
            if Median_1_BR_price
                li Median one-bedroom price: #{Median_1_BR_price}


